In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./results.csv')

In [4]:
display(df)

           method  list_size  shuffle_percentage  time_seconds
0     pivot_first         10                   5        0.0000
1     pivot_first         10                   5        0.0000
2     pivot_first         10                   5        0.0000
3     pivot_first         10                  25        0.0000
4     pivot_first         10                  25        0.0000
..            ...        ...                 ...           ...
103  pivot_random      10000                  25        0.1456
104  pivot_random      10000                  25        0.1301
105  pivot_random      10000                  45        0.1579
106  pivot_random      10000                  45        0.1331
107  pivot_random      10000                  45        0.1447

[108 rows x 4 columns]